<html>
  <head>
    <title>Star Wars</title>
    <style>
body {
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}
    </style>
  </head>
  <body>
    <h1>Star Wars!</h1>
    <ul>
      <li><a href='/people'>People</a></li>
      <li><a href='/planets'>Planets</a></li>
    </ul>
  </body>
</html>
