<html>
<head>
	<title>Seaching for <%= @search_query %></title>
</head>
<body>
	<% @tweets.each do |tweet| %>
		<h4><%= tweet.user.screen_name %> says:</h4>
		<p><%= tweet.text %></p>
		<hr />
	<% end %>
</body>
</html>