<html>
<head>
<title>Spamalot</title>
</head>
<body>
<h1>Spamalot</h1>
<form action="/" method="POST">
  <input type="email" name="from" placeholder="Send from"><br/>
  <input type="email" name="email" placeholder="Send to" ><br/>
  <input type="text" name="subject" placeholder="Subject" ><br/>
  <input type="text" name="message" placeholder="A nice message"/><br/>
  <input type="submit" value="Submit">
</form>
</body>
