<html>
<head>
<title>Spamalot</title>
</head>
<body>
<h1>Spamalot</h1>
<p>You are sending the following message: <%= @message %> with subject <%= @subject %> from <%= @from_email %> to <%= @email %></p>
</body>
